{% load staticfiles%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Orchestrated Service Delivery (OSD)" content="">
    <meta name="HEAnet GLC" content="">

    <!--This is the favicon-->
    <!--<link rel="icon" href="{% static "img/circulo_persian_green.png" %}"> -->
    <!--<link rel="icon" type="image/png" href="{% static "img/favicon-32x32.png" %}">-->

    <link rel="icon" type="image/png" href="{% static "img/favicon-196x196.png" %}" sizes="196x196">
    <link rel="icon" type="image/png" href="{% static "img/favicon-96x96.png" %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static "img/favicon-32x32.png" %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static "img/favicon-16x16.png" %}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static "img/favicon-128.png" %}" sizes="128x128">

    <link rel="apple-touch-icon-precomposed" href="{% static "img/apple-touch-icon-152x152.png" %}" sizes="152x152">
    <link rel="apple-touch-icon-precomposed" href="{% static "img/apple-touch-icon-144x144.png" %}" sizes="144x144">
    <link rel="apple-touch-icon-precomposed" href="{% static "img/apple-touch-icon-120x120.png" %}" sizes="120x120">
    <link rel="apple-touch-icon-precomposed" href="{% static "img/apple-touch-icon-114x114.png" %}" sizes="114x114">
    <link rel="apple-touch-icon-precomposed" href="{% static "img/apple-touch-icon-76x76.png" %}" sizes="76x76">
    <link rel="apple-touch-icon-precomposed" href="{% static "img/apple-touch-icon-72x72.png" %}" sizes="72x72">
    <link rel="apple-touch-icon-precomposed" href="{% static "img/apple-touch-icon-60x60.png" %}" sizes="60x60">
    <link rel="apple-touch-icon-precomposed" href="{% static "img/apple-touch-icon-57x57.png" %}" sizes="57x57">

    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{% static "img/mstile-144x144.png" %}">
    <meta name="msapplication-square70x70logo" content="{% static "img/mstile-70x70.png" %}">
    <meta name="msapplication-square150x150logo" content="{% static "img/mstile-150x150.png" %}">
    <meta name="msapplication-wide310x150logo" content="{% static "img/mstile-310x150.png" %}">
    <meta name="msapplication-square310x310logo" content="{% static "img/mstile-310x310.png" %}">

    <title>Walter</title>

    <!-- Core/common CSS, in this case that is the Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">

    <!-- Custom/Specific CSS styles for this template, in this case that is Bootstrap Sticky footer with fixed navbar -->
    <link rel="stylesheet" type="text/css" href="{% static "css/sticky-footer-navbar.css" %}">
  </head>

  <body>

    <!-- Fixed navbar -->
    <!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"> ORIGINAL -->
    <!-- check colors in http://getbootstrap.com/docs/4.0/utilities/colors/ -->
    <!-- <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light"> -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white">
      <!--
      <a class="navbar-brand" href="{% url 'core:about' %}">Walter</a>
      -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'core:about' %}">Home <span class="sr-only">(current)</span></a>
          </li>

          <!--
          <li class="nav-item">
            <a class="nav-link" href="#">Group A</a>
          </li>
          -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'paws:clientdb_client_one' %}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ClientDB</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'paws:clientdb_client_one' %}">ClientDB, one Client heanet-tech_</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'paws:csd_eline_all_fault' %}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CSD</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'paws:csd_eline_all_fault' %}">CSD, all ELINE by fault status</a>
              <a class="dropdown-item" href="{% url 'paws:csd_eline_one' %}">CSD, one ELINE detail</a>
              <a class="dropdown-item" href="{% url 'paws:csd_customer_one' %}">CSD, one Customer detail</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'paws:mail_send' %}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mail</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'paws:mail_send' %}">Mail, send</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'paws:saint2year' %}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Labs</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'paws:saint2year' %}">Saint to Year</a>
              <a class="dropdown-item" href="{% url 'paws:year2city' %}">Year to City</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/api/v1/" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">API</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/api/v1/">API GUI</a>
              <a class="dropdown-item" href="/api-doc/">API documentation (swagger/OpenAPI)</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'core:about' %}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Documentation</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'core:about' %}">About</a>
            </div>
          </li>

        </ul>
        <!--
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        -->
      </div>
    </nav>



    <!-- page content, begin -->
    <div class="container">
      <div class="mt-3">
      <!-- for spacing, check: https://v4-alpha.getbootstrap.com/utilities/spacing/ -->
      {% block content %}
      {% endblock content %}
      </div>
    </div>
    <!-- page content, end -->



	<!--
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>
	-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')</script>

    <!-- <script src="../../../../assets/js/vendor/popper.min.js"></script> -->
    <script src="{% static "assets/js/vendor/popper.min.js" %}"></script>

    <!-- <script src="../../../../dist/js/bootstrap.min.js"></script> -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
    <script src="{% static "assets/js/ie10-viewport-bug-workaround.js" %}"></script>
  </body>
</html>
